<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <Title>{{ title }}</Title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <div class="container">
        <!-- Header and Navigation -->
        <div class="row align-items-center">
            <div class="col-md-auto">
                <img src="images/cat-doctor.jpg" width="200" class="d-inline-block align-top" alt="">
            </div>
            <div class="col">
                <div class="align-self-center">
                    <h2>Hello. Welcome.</h2>
                    <p>This is my amazing website.</p>
                </div>
            </div>
            <div class="col">
                <nav class="navbar navbar-light bg-light">
                    <ul class="nav">
                        {% for page in pages %}
                            <li class="nav-item">
                                    <a class="nav-link{% if me == page.Filename %} active{% endif %}" href="{{ page.Filename }}">{{ page.Title }}</a>                           
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
        <!-- Content here -->
        {{ content }}
    </div>
</body>

</html>